[submodule "content/notes"]
	path = content/notes
	url = https://github.com/ssosik/personal-notes-public.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
