<details {{ if or (.Get "open") (in .Params "open") }}open{{ end }}>
  {{- $summary := cond .IsNamedParams (.Get "title") (.Get 0) -}}
  <summary>{{ $summary | .Page.RenderString }}</summary>
  <div class="markdown-inner">
    {{ $filename := (path.Join .Page.File.Dir (.Get "file")) }}
    {{ $file := $filename | readFile }}
    {{ $lang := .Get "lang" }}
    {{ $highlight := default "" (.Get "highlight" ) }}
    {{ (print "```" $lang " " $highlight "\n" $file "\n```" | markdownify ) }}
  </div>
</details>
